---

BasedOnStyle: LLVM

Standard: Cpp03

BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterStruct: true
  AfterClass: true
  AfterFunction: true
  SplitEmptyFunction: true
  AfterControlStatement: Always
  SplitEmptyFunction: true
  SplitEmptyRecord: true
UseTab: Always
IndentWidth: 8
AlignAfterOpenBracket: Align
AlignOperands: false
ContinuationIndentWidth: 12